@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: #EFD469;
}

.bangers {
  font-family: 'Bangers', cursive !important;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif !important;
}

.yellow {
  color: var(--yellow-color);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}

body {
  font-family: 'Righteous', cursive;
  background-color: black;
}

label {
  font-size: 1rem;
  opacity: 0.75;
  font-family: 'Josefin Sans', sans-serif !important;
}

input {
  min-width: 24rem;
  padding: 0.75rem 1.75rem;
  font-size: 1.25rem;
  border-radius: 0.75rem;
  color: black;
}

.green-grad-text {
  background-color: #EFEFEF33;
  background-image: linear-gradient(275deg, #f2cf43 0%, #19a186 36%, #f9484a 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: gradual 3s ease-out infinite alternate;
}

.white-clip-text {
  background-color: #EFEFEF33;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white-clip-text:hover {
  background-color: #19a18699;
}

@keyframes gradual {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 100%;
  }
}